.app {
  text-align: center;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttons-wrapper button {
  width: 125px;
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background-color: #00ffd0;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.circle-open {
  animation: fadeIn 0.25s ease-in;
}

.circle-close {
  animation: fadeOut 0.25s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.1)
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}